.slideshow-container{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sildeshow-border{
    border: 3px solid #dddddd;
    border-radius: 10px;
    padding: 40px;
    background-color: #ffffff;
}

.self-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: 25px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
}
  
  /* Position the "next button" to the right */
.next {
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.animate-left{
    position: relative;
    animation: animateleft 0.4s;
}

.animate-right {
    position: relative;
    animation: animateright 0.4s;
}

@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
    background-color: #717171;
}