.site-header {
    position: fixed;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 50px;
    z-index: 1;
}

.site-logo {
    height: inherit;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo i{
    margin-left: 20px;
}

.site-logo b{
    margin-left: 10px;
}

.site-logo i{
    color: #F4A442;
}

.site-logo-text{
    font-size: 24px;
}
.site-menu {
    float: right;
    height: inherit;
}

.site-menu-mobile {
    float: right;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-menu-mobile i{
    margin-right: 20px;
}
  
.site-menu div {
float: left;
width: 120px;
height: inherit;
}

.site-menu div a {
color: #333333;
text-align: center;
height: inherit;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}

.site-menu div a:hover {
    color: #F4A442;
}

.site-menu-content {
    margin-top: 50px;
    height: 300px;
    background-color: #ffffff;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #eeeeee;
}